{% extends "base.html" %}

{% block content %}
<div class="container content-offset">
  <div class="row">
    <div class="col-md-9">
      <h1>{{ object }}</h1>
      <dl class="dl-horizontal">
        <dt>Amount</dt>
        <dd>{{ object.amount }}</dd>
        <dt>Units</dt>
        <dd>{{ object.units }}</dd>
        <dt>State</dt>
        <dd>{{ object.state }}</dd>
        <dt>Drug</dt>
        <dd>{{ object.drug }}</dd>
        <dt>Custom name</dt>
        <dd>{{ object.custom_name }}</dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
