{% extends "base.html" %}

{% block content %}
{% with object_list|first as f %}
<style>.deleted { text-decoration: strikethrough; }
thead td, tfoot td {
  font-weight: bold;
}

</style>
<div class="container content-offset">
  <div class="row">
    <div class="col-md-9">
      <h1>{{ f.formulation }} </h1>
      <table class="table table-striped">
        <thead>
          <td>Date</td>
          <td>Pharmacist</td>
          <td>Authorised By</td>
          <td>Collector/Supplier</td>
          <td>Ward / Patient</td>
          <td>Amount ({{ f.formulation.get_stock_units }})</td>
          <td></td> {# cancel button/link, plus cancellation or correction reason #}
        </thead>
        <tbody>






        {% for transaction in object_list %}
          <tr {% if transaction.cancelled %}class='deleted'{% endif %}>
            <td>{{ transaction.datetime|date:"M d, Y H:i" }}</td>
            <td>{{ transaction.pharmacist }}</td>
            <td>{{ transaction.authorising_practitioner }}</td>
            <td>{% if transaction.supplied_individual %}{{ transaction.supplied_individual }}{% endif %}
              {{ transaction.supplier }}</td>
            <td>{{ transaction.ward }}{{ transaction.patient.demographic_set.get.name }}
              {% if transaction.collected_by_patient %}
                <i class="fa fa-user">collected</i>
              {% endif %}
            </td>
            <td>{% if transaction.supplied_individual %}-{% endif %}{{ transaction.amount }}</td>
            <td>
              {% if not transaction.cancelled %}
                <a href="tbc">Cancel</a>
              {% else %}
                (Cancelled)
              {% endif %}
            </td>

          </tr>
        {% endfor %}

        </tbody>
        <tfoot>
          <tr style="background-color: #FFF">
            <td colspan="5">Current Stock</td>
            <td>{{ f.formulation.get_stock }}</td><td></td>
          </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
