{% load forms %}
<div class="container content-offset">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>
        
        Controlled Drug Register
      </h2>
    </div>

    <div class="panel-body">
      
      <div class="row">
        <div class="col-md-8">
          
          <!-- Initial state - choose action -->
          <div class="panel panel-default" ng-show="state == 'Initial'">
            <div class="panel-heading">
              <p class="lead">
                What are we <b>doing</b>?
              </p>
            </div>
            <div class="panel-body">
              <p ng-show="profile.has_role('pharmacist')">
                <button class="btn btn-primary btn-lg"
                        ng-click="set_state('Booking')"
                        >
                  {% icon "fa-truck" %}
                  Book in Delivery
                </button>
              </p>
              <p>
                <button class="btn btn-primary btn-lg"
                        ng-click="set_state('Patient')"
                        >
                  {% icon "fa-user" %}
                  Supply to Patient
                </button>
                <button class="btn btn-primary btn-lg"
                        ng-click="set_state('Ward')"
                        >
                  {% icon "fa-hospital-o" %}
                  Supply to ward
                </button>
              </p>
              <p>
                <button class="btn btn-primary btn-lg"
                        ng-click="set_state('Correction')"
                        >
                  {% icon "fa-pencil" %}
                  Make correction
                </button>

                
              </p>
              
            </div>
          </div>

          <!-- booking in a delivery -->
          <div class="panel panel-default" ng-show="state == 'Booking'">
            <div class="panel-heading">
              <p class="lead">
                Book in a <b>delivery</b>.
              </p>
            </div>
            <div class="panel-body">
              <form class="form form-horizontal col-md-10">
                {% input label="Product" model="booking.product" lookuplist="drug_list"%}
                {% datepicker label="Date" model="booking.date" %}
                {% select label="Supplier" model="booking.supplier" lookuplist="['GSK', 'Johnson & Johnson']" %}
                {% input label="Quantity" model="booking.quantity" %}

                <button class="btn" ng-click="back_to_initial()">
                  {% icon "fa-close" %}
                  Cancel
                </button>

                <button class="btn btn-lg btn-primary pull-right" ng-click="save_booking()">
                  {% icon "fa-save" %}
                  Save
                </button>
              </form>
            </div>
          </div>

          
          <!-- booking in a Patient -->
          <div class="panel panel-default" ng-show="state == 'Patient'">
            <div class="panel-heading">
              <p class="lead">
                {% icon "fa-user" %}
                Supply to a <b>Patient</b>
              </p>
            </div>
            <div class="panel-body">
              <form class="form form-horizontal col-md-10">

                {% select label="Product" model="patient.product" lookuplist="drug_list"%}
                {% datepicker label="Date" model="patient.datetime" %}
                <div class="form-group">
                  <label class="control-label col-sm-3">
                    <i class="fa fa-clock-o"></i> Time
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" 
                           size="5"
                           ng-model="ward.datetime" 
                           data-time-format="HH:mm" 
                           data-autoclose="1"
                           bs-timepicker>
                  </div>
                </div>
                
                {% select label="Patient Name" model="patient.patient_name" lookuplist="patient_name_list" %}
                <div class="col-sm-offset-0">
                  <button class="btn btn-secondary" ng-click="add_patient()">
                    {% icon "glyphicon-plus" %}
                    Add Patient
                  </button>
                  <br />
                  <br />
                </div>
                {% input label="Prescriber" model="patient.prescriber" %}

                <div class="col-sm-offset-4">
                  {% checkbox label="Collected by patient?" model="patient.collected_by_patient" %}
                  {% checkbox label="ID Confirmed?" model="patient.id_confirmed" %}
                </div>

                {% input label="Collector" model="patient.collector" %}
                
                {% input label="Quantity" model="patient.quantity" %}

                <button class="btn" ng-click="back_to_initial()">
                  {% icon "fa-close" %}
                  Cancel
                </button>                
                <button class="btn btn-lg btn-primary pull-right" ng-click="save_patient()">
                  {% icon "fa-save" %}
                  Save
                </button>
              </form>
            </div>
          </div>

          <!-- Supply to Ward -->
          <div class="panel panel-default" ng-show="state == 'Ward'">
            <div class="panel-heading">
              <p class="lead">
                {% icon "fa-hospital-o" %}
                Supply to a <b>ward</b>
              </p>
            </div>
            <div class="panel-body">
              <form class="form form-horizontal col-md-10">

                {% select label="Product" model="ward.product" lookuplist="drug_list"%}
                {% datepicker label="Date" model="ward.datetime" %}
                <div class="form-group">
                  <label class="control-label col-sm-3">
                    <i class="fa fa-clock-o"></i> Time
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" 
                           size="5"
                           ng-model="ward.datetime" 
                           data-time-format="HH:mm" 
                           data-autoclose="1"
                           bs-timepicker>
                  </div>
                </div>

                {% input label="Collector" model="ward.collector" %}
                {% input label="Ward Name" model="ward.ward_name" %}
                {% input label="Quantity" model="ward.quantity" %}
                
                <button class="btn" ng-click="back_to_initial()">
                  {% icon "fa-close" %}
                  Cancel
                </button>
                <button class="btn btn-lg btn-primary pull-right" ng-click="save_ward()">
                  {% icon "fa-save" %}
                  Save
                </button>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
